.box {
    width: 40px;
    height: 40px;
}

.empty{
    background-color: #510f0f;
}
.head{
     background-color: orange;
 }
.body{
    background-color: green;
}
.food{
    background-color: blue;
}