.box {
    width: 20px;
    height: 20px;
    border: 1px solid #50195a;
    margin: 1px 1px 1px 1px;
}

.empty{
    background-image: url('./Field.png');
    background-size: 20px;
}

.head{
     background-color: #ffe13b;
 }

.body{
    background-color: #394d68;
}

.food{
    background-image: url('./Food.png');
    background-size: 20px;

}