.box {
    width: 20px;
    height: 20px;
    border: 1px solid #50195a;
    margin: 1px 1px 1px 1px;
}

.empty{
    background-color: #2b4e1a;

}
.head{
     background-color: #fcce00;

 }
.body{
    background-color: #0f3c7a;
}
.food{
    background-color: #ff0000;
}