.App {
  text-align: center;
  max-width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exit{
  position: absolute;
  margin: 0 30px 0;
  padding: 20px;
  font-size: 24px;
  color: #fcce00;
  background-color: #394d68;
  width: 15%;
  top: 63%;
  left:75%;
  border-radius: 7%;
  border: none;
}
.workspace{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #020000;
}
